

.headerone {
	background-color: lightgrey;
}
.headerone li{
	
	display: inline;
	list-style: circle;
	padding-left: 25px;


}

.img-box{
	width: 50px;
	height: 50px;
}
.img-box2{
	width: 75px;
	height: 50px;
	float: right;
}
.img-box3{
	width: 75px;
	height: 50px;
	float: right;
}




.sec1 img{
width: 100px;
	height: 100px;
	float: left;
	padding-bottom: 15px;
	padding-right: 15px;

}


.sec2 img{

	width: 100px;
	height: 125px;
	float: left;
	padding-bottom: 15px;
	padding-right: 15px;
}



.sec3 img{

	width: 120px;
	height: 100px;
	float: left;
	padding-bottom: 15px;
	padding-right: 15px;
}



.sec3 h4 {


padding-right: 15px;
}



